@model Models.CosmeticGetModel

@{
    ViewData["Title"] = "Details";
}

<h1 class=" text-light">Details</h1>

<div>
    <h4 class=" text-light">Cosmetic</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2 text-light">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10 text-light">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2 text-light">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10 text-light">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2 text-light">
            @Html.DisplayNameFor(model => model.DeliveryTime)
        </dt>
        <dd class = "col-sm-10 text-light">
            @Html.DisplayFor(model => model.DeliveryTime)
        </dd>
        <dt class = "col-sm-2 text-light">
            @Html.DisplayNameFor(model => model.ShelfLife)
        </dt>
        <dd class = "col-sm-10 text-light">
            @Html.DisplayFor(model => model.ShelfLife)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-outline-primary text-light" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a class="btn btn-outline-primary text-light" asp-action="Index">Back to List</a>
</div>
