@model Models.ConsignmentGetModel

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-light">Details</h1>

<div>
    <h4 class="text-light">Consignment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2 text-light">
            @Html.DisplayNameFor(model => model.Units)
        </dt>
        <dd class = "col-sm-10 text-light">
            @Html.DisplayFor(model => model.Units)
        </dd>
        <dt class = "col-sm-2 text-light">
            @Html.DisplayNameFor(model => model.ProductionDate)
        </dt>
        <dd class = "col-sm-10 text-light">
            @Html.DisplayFor(model => model.ProductionDate)
        </dd>
        <dt class = "col-sm-2 text-light">
            @Html.DisplayNameFor(model => model.IsEnding)
        </dt>
        <dd class = "col-sm-10 text-light">
            @Html.DisplayFor(model => model.IsEnding)
        </dd>
        <dt class = "col-sm-2 text-light">
            @Html.DisplayNameFor(model => model.Cosmetic)
        </dt>
        <dd class = "col-sm-10 text-light">
            @Html.DisplayFor(model => model.Cosmetic.Name)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-outline-primary text-light" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a class="btn btn-outline-primary text-light" asp-action="Index">Back to List</a>
</div>
